* {
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --body-background: #fff;
    --black: #000;
    --primary: #DF0029;
    --primary-text: #DF0029;
    --primary-ground: #f0758c;
    --gray: #BDBDBD;
    --gray-text: #999999;
    --gray-ground: #f4f4f4;
    --focus-outline: #1b85ff;
    --text-color: #000;
    --primary-drop-shadow: 0px 2px 4px rgba(0, 0, 0, .08), 0px 2px 12px rgba(0, 0, 0, .12);
    --transition-duration: .2s;
    --reveal-timing-function: cubic-bezier(.17,.97,.45,1);
    --hover-opacity: .75;
}

@media (prefers-color-scheme: dark) {
    :root {
      --body-background: rgba(32,35,39,1);
      --white: #eee;
      --black: #363636;
      --text-color: #eee;
      --primary: #cc0025;
      --gray: #a1a1a1;
      --gray-ground: #363636;
      --focus-outline: #006be6;
    }
  }
  
html {
    font-size: 18px; /* 1rem = 18px */
}
body {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* font smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--body-background);
}

.runic {
    font-family: "Noto Sans Runic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
small {
    font-size: 0.8rem;
    color: var(--gray-text);
}